.box{
    width : 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    

    justify-content: space-evenly;
    align-items: start;
}

.test{
    width: 100px;
    height: 100px;
}
.one {
    background-color: green;
}
.two {
    background-color: yellow;
}

.three {
    background-color: red;
}
.code{
    justify-content: start;
    justify-content: center;
    justify-content: end;
    /* 자식들이 공평하게 너비 차지 */
    justify-content: space-around;
    /* 동일한 공백 형성 */
    justify-content: space-evenly;
    /* 양 끝은 공백없이 배치 */
    justify-content: space-between;

    /* cross축 */
    align-items: start;
    align-items: center;
    align-items: end;
    
}