div{display: flex;
    flex-direction: row;
    gap : 10px;
    border-radius: 15px;
}
.frame{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 1000px;

}
.photo1{
    background-image: url(beach.jpg);
    background-size: cover;
    width: 300px;
    height: 400px;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: baseline;
    text-align: left;
}

.photo2{
    background-image: url(hotel1.jpg);
    background-size: cover;
    width: 300px;
    height: 400px;
    color: white;
    flex-direction: column;
    text-align: center;
}
.photo3{
    background-image: url(hotel2.jpg);
    background-size: cover;
    width: 300px;
    height: 400px;
    color: white;
    flex-direction: column;
    text-align: left;
}
.photo4{
    background-image: url(hotel3.jpg);
    background-size: cover;
    width: 300px;
    height: 400px;
    color: white;
    flex-direction: column;
    text-align: left;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;

}
.main{
    font-size: x-large;
    font-weight: 400;


}
.title{
text-decoration: underline;

}