.frame {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    width: 450px;
    height: 800px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap : 30px;
}

.photo > img {
    
    border-radius: 100%;
    width: 40%;
    height: 40%;
    
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 5px;
    font-size: larger;
    color: white;
    
}
.small{
    font-size: medium;
}
.menu{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px
}
button{
width: 400px;
height: 50px;
border-radius: 25px;
border: 1px solid white;
font-size: larger;
font-weight: 600;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: bottom;
    gap: 20px;
    font-size: 30px;
}

